#placeholder {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  color: #24292f;
  background-color: #ffffff;
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji";
  font-size: 16px;
  line-height: 1.5;
  word-wrap: break-word;

  margin:2rem 2rem;
  box-shadow:  0px 0px 30px 0px #99999980;
  padding:2rem;
}

#placeholder .octicon {
  display: inline-block;
  fill: currentColor;
  vertical-align: text-bottom;
}

#placeholder h1:hover .anchor .octicon-link:before,
#placeholder h2:hover .anchor .octicon-link:before,
#placeholder h3:hover .anchor .octicon-link:before,
#placeholder h4:hover .anchor .octicon-link:before,
#placeholder h5:hover .anchor .octicon-link:before,
#placeholder h6:hover .anchor .octicon-link:before {
  width: 16px;
  height: 16px;
  content: ' ';
  display: inline-block;
  background-color: currentColor;
  -webkit-mask-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' version='1.1' aria-hidden='true'><path fill-rule='evenodd' d='M7.775 3.275a.75.75 0 001.06 1.06l1.25-1.25a2 2 0 112.83 2.83l-2.5 2.5a2 2 0 01-2.83 0 .75.75 0 00-1.06 1.06 3.5 3.5 0 004.95 0l2.5-2.5a3.5 3.5 0 00-4.95-4.95l-1.25 1.25zm-4.69 9.64a2 2 0 010-2.83l2.5-2.5a2 2 0 012.83 0 .75.75 0 001.06-1.06 3.5 3.5 0 00-4.95 0l-2.5 2.5a3.5 3.5 0 004.95 4.95l1.25-1.25a.75.75 0 00-1.06-1.06l-1.25 1.25a2 2 0 01-2.83 0z'></path></svg>");
  mask-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' version='1.1' aria-hidden='true'><path fill-rule='evenodd' d='M7.775 3.275a.75.75 0 001.06 1.06l1.25-1.25a2 2 0 112.83 2.83l-2.5 2.5a2 2 0 01-2.83 0 .75.75 0 00-1.06 1.06 3.5 3.5 0 004.95 0l2.5-2.5a3.5 3.5 0 00-4.95-4.95l-1.25 1.25zm-4.69 9.64a2 2 0 010-2.83l2.5-2.5a2 2 0 012.83 0 .75.75 0 001.06-1.06 3.5 3.5 0 00-4.95 0l-2.5 2.5a3.5 3.5 0 004.95 4.95l1.25-1.25a.75.75 0 00-1.06-1.06l-1.25 1.25a2 2 0 01-2.83 0z'></path></svg>");
}

#placeholder details,
#placeholder figcaption,
#placeholder figure {
  display: block;
}

#placeholder summary {
  display: list-item;
}

#placeholder [hidden] {
  display: none !important;
}

#placeholder a {
  background-color: transparent;
  color: #0969da;
  text-decoration: none;
}

#placeholder a:active,
#placeholder a:hover {
  outline-width: 0;
}

#placeholder abbr[title] {
  border-bottom: none;
  text-decoration: underline dotted;
}

#placeholder b,
#placeholder strong {
  font-weight: 600;
}

#placeholder dfn {
  font-style: italic;
}

#placeholder h1 {
  margin: .67em 0;
  font-weight: 600;
  padding-bottom: .3em;
  font-size: 2em;
  border-bottom: 1px solid hsla(210,18%,87%,1);
}

#placeholder mark {
  background-color: #fff8c5;
  color: #24292f;
}

#placeholder small {
  font-size: 90%;
}

#placeholder sub,
#placeholder sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

#placeholder sub {
  bottom: -0.25em;
}

#placeholder sup {
  top: -0.5em;
}

#placeholder img {
  border-style: none;
  max-width: 100%;
  box-sizing: content-box;
  background-color: #ffffff;
}

#placeholder code,
#placeholder kbd,
#placeholder pre,
#placeholder samp {
  font-family: monospace,monospace;
  font-size: 1em;
}

#placeholder figure {
  margin: 1em 40px;
}

#placeholder hr {
  box-sizing: content-box;
  overflow: hidden;
  background: transparent;
  border-bottom: 1px solid hsla(210,18%,87%,1);
  height: .25em;
  padding: 0;
  margin: 24px 0;
  background-color: #d0d7de;
  border: 0;
}

#placeholder input {
  font: inherit;
  margin: 0;
  overflow: visible;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

#placeholder [type=button],
#placeholder [type=reset],
#placeholder [type=submit] {
  -webkit-appearance: button;
}

#placeholder [type=button]::-moz-focus-inner,
#placeholder [type=reset]::-moz-focus-inner,
#placeholder [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

#placeholder [type=button]:-moz-focusring,
#placeholder [type=reset]:-moz-focusring,
#placeholder [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

#placeholder [type=checkbox],
#placeholder [type=radio] {
  box-sizing: border-box;
  padding: 0;
}

#placeholder [type=number]::-webkit-inner-spin-button,
#placeholder [type=number]::-webkit-outer-spin-button {
  height: auto;
}

#placeholder [type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

#placeholder [type=search]::-webkit-search-cancel-button,
#placeholder [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

#placeholder ::-webkit-input-placeholder {
  color: inherit;
  opacity: .54;
}

#placeholder ::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

#placeholder a:hover {
  text-decoration: underline;
}

#placeholder hr::before {
  display: table;
  content: "";
}

#placeholder hr::after {
  display: table;
  clear: both;
  content: "";
}

#placeholder table {
  border-spacing: 0;
  border-collapse: collapse;
  display: block;
  width: max-content;
  max-width: 100%;
  overflow: auto;
}

#placeholder td,
#placeholder th {
  padding: 0;
}

#placeholder details summary {
  cursor: pointer;
}

#placeholder details:not([open])>*:not(summary) {
  display: none !important;
}

#placeholder kbd {
  display: inline-block;
  padding: 3px 5px;
  font: 11px ui-monospace,SFMono-Regular,SF Mono,Menlo,Consolas,Liberation Mono,monospace;
  line-height: 10px;
  color: #24292f;
  vertical-align: middle;
  background-color: #f6f8fa;
  border: solid 1px rgba(175,184,193,0.2);
  border-bottom-color: rgba(175,184,193,0.2);
  border-radius: 6px;
  box-shadow: inset 0 -1px 0 rgba(175,184,193,0.2);
}

#placeholder h1,
#placeholder h2,
#placeholder h3,
#placeholder h4,
#placeholder h5,
#placeholder h6 {
  margin-top: 24px;
  margin-bottom: 16px;
  font-weight: 600;
  line-height: 1.25;
}

#placeholder h2 {
  font-weight: 600;
  padding-bottom: .3em;
  font-size: 1.5em;
  border-bottom: 1px solid hsla(210,18%,87%,1);
}

#placeholder h3 {
  font-weight: 600;
  font-size: 1.25em;
}

#placeholder h4 {
  font-weight: 600;
  font-size: 1em;
}

#placeholder h5 {
  font-weight: 600;
  font-size: .875em;
}

#placeholder h6 {
  font-weight: 600;
  font-size: .85em;
  color: #57606a;
}

#placeholder p {
  margin-top: 0;
  margin-bottom: 10px;
}

#placeholder blockquote {
  margin: 0;
  padding: 0 1em;
  color: #57606a;
  border-left: .25em solid #d0d7de;
}

#placeholder ul,
#placeholder ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 2em;
}

#placeholder ol ol,
#placeholder ul ol {
  list-style-type: lower-roman;
}

#placeholder ul ul ol,
#placeholder ul ol ol,
#placeholder ol ul ol,
#placeholder ol ol ol {
  list-style-type: lower-alpha;
}

#placeholder dd {
  margin-left: 0;
}

#placeholder tt,
#placeholder code {
  font-family: ui-monospace,SFMono-Regular,SF Mono,Menlo,Consolas,Liberation Mono,monospace;
  font-size: 12px;
}

#placeholder pre {
  margin-top: 0;
  margin-bottom: 0;
  font-family: ui-monospace,SFMono-Regular,SF Mono,Menlo,Consolas,Liberation Mono,monospace;
  font-size: 12px;
  word-wrap: normal;
}

#placeholder .octicon {
  display: inline-block;
  overflow: visible !important;
  vertical-align: text-bottom;
  fill: currentColor;
}

#placeholder ::placeholder {
  color: #6e7781;
  opacity: 1;
}

#placeholder input::-webkit-outer-spin-button,
#placeholder input::-webkit-inner-spin-button {
  margin: 0;
  -webkit-appearance: none;
  appearance: none;
}

#placeholder .pl-c {
  color: #6e7781;
}

#placeholder .pl-c1,
#placeholder .pl-s .pl-v {
  color: #0550ae;
}

#placeholder .pl-e,
#placeholder .pl-en {
  color: #8250df;
}

#placeholder .pl-smi,
#placeholder .pl-s .pl-s1 {
  color: #24292f;
}

#placeholder .pl-ent {
  color: #116329;
}

#placeholder .pl-k {
  color: #cf222e;
}

#placeholder .pl-s,
#placeholder .pl-pds,
#placeholder .pl-s .pl-pse .pl-s1,
#placeholder .pl-sr,
#placeholder .pl-sr .pl-cce,
#placeholder .pl-sr .pl-sre,
#placeholder .pl-sr .pl-sra {
  color: #0a3069;
}

#placeholder .pl-v,
#placeholder .pl-smw {
  color: #953800;
}

#placeholder .pl-bu {
  color: #82071e;
}

#placeholder .pl-ii {
  color: #f6f8fa;
  background-color: #82071e;
}

#placeholder .pl-c2 {
  color: #f6f8fa;
  background-color: #cf222e;
}

#placeholder .pl-sr .pl-cce {
  font-weight: bold;
  color: #116329;
}

#placeholder .pl-ml {
  color: #3b2300;
}

#placeholder .pl-mh,
#placeholder .pl-mh .pl-en,
#placeholder .pl-ms {
  font-weight: bold;
  color: #0550ae;
}

#placeholder .pl-mi {
  font-style: italic;
  color: #24292f;
}

#placeholder .pl-mb {
  font-weight: bold;
  color: #24292f;
}

#placeholder .pl-md {
  color: #82071e;
  background-color: #FFEBE9;
}

#placeholder .pl-mi1 {
  color: #116329;
  background-color: #dafbe1;
}

#placeholder .pl-mc {
  color: #953800;
  background-color: #ffd8b5;
}

#placeholder .pl-mi2 {
  color: #eaeef2;
  background-color: #0550ae;
}

#placeholder .pl-mdr {
  font-weight: bold;
  color: #8250df;
}

#placeholder .pl-ba {
  color: #57606a;
}

#placeholder .pl-sg {
  color: #8c959f;
}

#placeholder .pl-corl {
  text-decoration: underline;
  color: #0a3069;
}

#placeholder [data-catalyst] {
  display: block;
}

#placeholder g-emoji {
  font-family: "Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
  font-size: 1em;
  font-style: normal !important;
  font-weight: 400;
  line-height: 1;
  vertical-align: -0.075em;
}

#placeholder g-emoji img {
  width: 1em;
  height: 1em;
}

#placeholder::before {
  display: table;
  content: "";
}

#placeholder::after {
  display: table;
  clear: both;
  content: "";
}

#placeholder>*:first-child {
  margin-top: 0 !important;
}

#placeholder>*:last-child {
  margin-bottom: 0 !important;
}

#placeholder a:not([href]) {
  color: inherit;
  text-decoration: none;
}

#placeholder .absent {
  color: #cf222e;
}

#placeholder .anchor {
  float: left;
  padding-right: 4px;
  margin-left: -20px;
  line-height: 1;
}

#placeholder .anchor:focus {
  outline: none;
}

#placeholder p,
#placeholder blockquote,
#placeholder ul,
#placeholder ol,
#placeholder dl,
#placeholder table,
#placeholder pre,
#placeholder details {
  margin-top: 0;
  margin-bottom: 16px;
}

#placeholder blockquote>:first-child {
  margin-top: 0;
}

#placeholder blockquote>:last-child {
  margin-bottom: 0;
}

#placeholder sup>a::before {
  content: "[";
}

#placeholder sup>a::after {
  content: "]";
}

#placeholder h1 .octicon-link,
#placeholder h2 .octicon-link,
#placeholder h3 .octicon-link,
#placeholder h4 .octicon-link,
#placeholder h5 .octicon-link,
#placeholder h6 .octicon-link {
  color: #24292f;
  vertical-align: middle;
  visibility: hidden;
}

#placeholder h1:hover .anchor,
#placeholder h2:hover .anchor,
#placeholder h3:hover .anchor,
#placeholder h4:hover .anchor,
#placeholder h5:hover .anchor,
#placeholder h6:hover .anchor {
  text-decoration: none;
}

#placeholder h1:hover .anchor .octicon-link,
#placeholder h2:hover .anchor .octicon-link,
#placeholder h3:hover .anchor .octicon-link,
#placeholder h4:hover .anchor .octicon-link,
#placeholder h5:hover .anchor .octicon-link,
#placeholder h6:hover .anchor .octicon-link {
  visibility: visible;
}

#placeholder h1 tt,
#placeholder h1 code,
#placeholder h2 tt,
#placeholder h2 code,
#placeholder h3 tt,
#placeholder h3 code,
#placeholder h4 tt,
#placeholder h4 code,
#placeholder h5 tt,
#placeholder h5 code,
#placeholder h6 tt,
#placeholder h6 code {
  padding: 0 .2em;
  font-size: inherit;
}

#placeholder ul.no-list,
#placeholder ol.no-list {
  padding: 0;
  list-style-type: none;
}

#placeholder ol[type="1"] {
  list-style-type: decimal;
}

#placeholder ol[type=a] {
  list-style-type: lower-alpha;
}

#placeholder ol[type=i] {
  list-style-type: lower-roman;
}

#placeholder div>ol:not([type]) {
  list-style-type: decimal;
}

#placeholder ul ul,
#placeholder ul ol,
#placeholder ol ol,
#placeholder ol ul {
  margin-top: 0;
  margin-bottom: 0;
}

#placeholder li>p {
  margin-top: 16px;
}

#placeholder li+li {
  margin-top: .25em;
}

#placeholder dl {
  padding: 0;
}

#placeholder dl dt {
  padding: 0;
  margin-top: 16px;
  font-size: 1em;
  font-style: italic;
  font-weight: 600;
}

#placeholder dl dd {
  padding: 0 16px;
  margin-bottom: 16px;
}

#placeholder table th {
  font-weight: 600;
}

#placeholder table th,
#placeholder table td {
  padding: 6px 13px;
  border: 1px solid #d0d7de;
}

#placeholder table tr {
  background-color: #ffffff;
  border-top: 1px solid hsla(210,18%,87%,1);
}

#placeholder table tr:nth-child(2n) {
  background-color: #f6f8fa;
}

#placeholder table img {
  background-color: transparent;
}

#placeholder img[align=right] {
  padding-left: 20px;
}

#placeholder img[align=left] {
  padding-right: 20px;
}

#placeholder .emoji {
  max-width: none;
  vertical-align: text-top;
  background-color: transparent;
}

#placeholder span.frame {
  display: block;
  overflow: hidden;
}

#placeholder span.frame>span {
  display: block;
  float: left;
  width: auto;
  padding: 7px;
  margin: 13px 0 0;
  overflow: hidden;
  border: 1px solid #d0d7de;
}

#placeholder span.frame span img {
  display: block;
  float: left;
}

#placeholder span.frame span span {
  display: block;
  padding: 5px 0 0;
  clear: both;
  color: #24292f;
}

#placeholder span.align-center {
  display: block;
  overflow: hidden;
  clear: both;
}

#placeholder span.align-center>span {
  display: block;
  margin: 13px auto 0;
  overflow: hidden;
  text-align: center;
}

#placeholder span.align-center span img {
  margin: 0 auto;
  text-align: center;
}

#placeholder span.align-right {
  display: block;
  overflow: hidden;
  clear: both;
}

#placeholder span.align-right>span {
  display: block;
  margin: 13px 0 0;
  overflow: hidden;
  text-align: right;
}

#placeholder span.align-right span img {
  margin: 0;
  text-align: right;
}

#placeholder span.float-left {
  display: block;
  float: left;
  margin-right: 13px;
  overflow: hidden;
}

#placeholder span.float-left span {
  margin: 13px 0 0;
}

#placeholder span.float-right {
  display: block;
  float: right;
  margin-left: 13px;
  overflow: hidden;
}

#placeholder span.float-right>span {
  display: block;
  margin: 13px auto 0;
  overflow: hidden;
  text-align: right;
}

#placeholder code,
#placeholder tt {
  padding: .2em .4em;
  margin: 0;
  font-size: 85%;
  background-color: rgba(175,184,193,0.2);
  border-radius: 6px;
}

#placeholder code br,
#placeholder tt br {
  display: none;
}

#placeholder del code {
  text-decoration: inherit;
}

#placeholder pre code {
  font-size: 100%;
}

#placeholder pre>code {
  padding: 0;
  margin: 0;
  word-break: normal;
  white-space: pre;
  background: transparent;
  border: 0;
}

#placeholder .highlight {
  margin-bottom: 16px;
}

#placeholder .highlight pre {
  margin-bottom: 0;
  word-break: normal;
}

#placeholder .highlight pre,
#placeholder pre {
  padding: 16px;
  overflow: auto;
  font-size: 85%;
  line-height: 1.45;
  background-color: #f6f8fa;
  border-radius: 6px;
}

#placeholder pre code,
#placeholder pre tt {
  display: inline;
  max-width: auto;
  padding: 0;
  margin: 0;
  overflow: visible;
  line-height: inherit;
  word-wrap: normal;
  background-color: transparent;
  border: 0;
}

#placeholder .csv-data td,
#placeholder .csv-data th {
  padding: 5px;
  overflow: hidden;
  font-size: 12px;
  line-height: 1;
  text-align: left;
  white-space: nowrap;
}

#placeholder .csv-data .blob-num {
  padding: 10px 8px 9px;
  text-align: right;
  background: #ffffff;
  border: 0;
}

#placeholder .csv-data tr {
  border-top: 0;
}

#placeholder .csv-data th {
  font-weight: 600;
  background: #f6f8fa;
  border-top: 0;
}

#placeholder .footnotes {
  font-size: 12px;
  color: #57606a;
  border-top: 1px solid #d0d7de;
}

#placeholder .footnotes ol {
  padding-left: 16px;
}

#placeholder .footnotes li {
  position: relative;
}

#placeholder .footnotes li:target::before {
  position: absolute;
  top: -8px;
  right: -8px;
  bottom: -8px;
  left: -24px;
  pointer-events: none;
  content: "";
  border: 2px solid #0969da;
  border-radius: 6px;
}

#placeholder .footnotes li:target {
  color: #24292f;
}

#placeholder .footnotes .data-footnote-backref g-emoji {
  font-family: monospace;
}

#placeholder .task-list-item {
  list-style-type: none;
}

#placeholder .task-list-item label {
  font-weight: 400;
}

#placeholder .task-list-item.enabled label {
  cursor: pointer;
}

#placeholder .task-list-item+.task-list-item {
  margin-top: 3px;
}

#placeholder .task-list-item .handle {
  display: none;
}

#placeholder .task-list-item-checkbox {
  margin: 0 .2em .25em -1.6em;
  vertical-align: middle;
}

#placeholder .contains-task-list:dir(rtl) .task-list-item-checkbox {
  margin: 0 -1.6em .25em .2em;
}

#placeholder ::-webkit-calendar-picker-indicator {
  filter: invert(50%);
}
